<% if @seven.errors.any? %>
  <section id="errors">
    <h2><%= pluralize(@seven.errors.count, "error") %> cannot be saved:</h2>
      <ul>
          <% @seven.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
  </section>
<% end %>



<%= form_for @seven do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>
